.finding-blood-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.finding-blood-container h2 {
    text-align: center;
}

.underline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.line {
    flex: 100;
    height: 2px;
    background-color: #B32346;
}

.underline-image {
    width: 40px;
    height: auto;
    margin: 0 10px;
    /* control space between lines and image */
}